*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*------------ contenuto header -----------*/
header{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#toolbar-logo{
    width: 100%;
    text-align: center;
}
#logo,nav,#content-header{
    display: inline-block;
    vertical-align: middle;

}
#logo{
    padding: 18px 12% 0 0;
}

/* barra di navigazione */
nav{
    width: 50%;
    min-width: 616px;
}
nav li{
    display: inline-block;
    list-style-type: none;
    padding: 18px 15px;
    font-size: 18px;
}
li a{
    text-decoration: none;
    color: white;
}
nav li:hover{
    text-shadow: 5px 5px 10px black;
}
nav li:active{
    font-size: 13px;
}

/* pulsante */
input{
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0 0 0 12%;
    border: white;
    font-weight: 700;
    cursor: pointer;
}
input:hover{
    background-color: grey;
    color: white;
}
input:active{
    font-weight: 500;
    font-size: 12px;
    padding: 12px 19px;
    border-radius: 25px;
    margin: 0 0 0 12%;
}

/*--- testo dell'header ---*/

#content-header{
    width: 600px;
    text-align: center;
}