*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/*------------ contenuto header -----------*/
header{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    min-width: 963px;
}
#toolbar-logo{
    width: 100%;
    text-align: center;
}
#logo,nav,#content-header{
    display: inline-block;
    vertical-align: middle;

}
#logo{
    padding: 18px 70px 0 0;
}

/*--- barra di navigazione ---*/
nav{
    width: 50%;
    min-width: 616px;
}
nav li{
    display: inline-block;
    list-style-type: none;
    padding: 18px 15px;
    font-size: 18px;
}
li a{
    text-decoration: none;
    color: white;
}
nav li:hover{
    text-shadow: 5px 5px 10px black;
}
nav li:active{
    font-size: 13px;
}

/* pulsante */
input{
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0 0 0 70px;
    border: white;
    font-weight: 700;
    cursor: pointer;
}
input:hover{
    background-color: grey;
    color: white;
}
input:active{
    font-weight: 500;
    font-size: 12px;
    padding: 12px 19px;
    border-radius: 25px;
    margin: 0 0 0 70px;
}

/*--- testo dell'header ---*/

#content-header{
    width: 750px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#text-head h1{
    font-size: 60px;
    padding: 25px 0;
}

/* pulsanti sotto testo header  */
.input-bottom button{
    margin: 30px 30px 0 30px;
    padding: 15px 25px;
    border-radius: 30px;
}
.input-bottom button:nth-of-type(1){
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
}
.input-bottom button:nth-of-type(1)::before{
    content: "\2913";
    padding-right: 3px;
    font-size: 16px;
    font-weight: 800;
}
.input-bottom button:nth-of-type(2){
    background-color: rgb(44, 44, 44);
    color: white;
    font-weight: 600;
    border: none;
    padding: 20px 35px;
}

/*------------- Contenuto de Main ------------- */
main .row:nth-of-type(2) {
    background-color: rgb(175, 175, 175);
    background-size: 100vw;
}
.row{
    text-align: center;
    width: 100%;  
    min-width: 963px;
}
.contain{
    margin: 0 auto;
}
.row:nth-of-type(1) .contain img{
    float: left;
    padding: 30px 10px 10px 0;
}
.row:nth-of-type(1) .contain h1{
    padding: 60px 10px 10px 0;
}
.row:nth-of-type(2) .contain img{
    float: right;
    padding: 30px 10px 10px 0;
}
.row:nth-of-type(2) .contain h1{
    padding: 60px 10px 10px 0;
}
.row:nth-of-type(3) .contain img{
    float: left;
    padding: 30px 10px 10px 0;
}
.row:nth-of-type(3) .contain h1{
    padding: 60px 10px 10px 0;
}
